<!DOCTYPE html>
<html>
  <head>
    <title>APPGossipHtml</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<header>


<nav class="nav nav-pills">
  <a class="nav-link active nav-item"href=<%="http://localhost:3000/static_pages/home"%>>Accueil</a>
  <a class="nav-link" href=<%="http://localhost:3000/static_pages/home"%>>team</a>
  <a class="nav-link" href=<%="http://localhost:3000/static_pages/home"%>>Contact</a>
</nav>


</header>




  <body>
    <%= yield %>
  </body>
</html>
